<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
    <style>
        table th, table td, form {
            padding: 10px 5px;
            font-family: sans-serif;
            font-size: 14px;
            border-style: solid;
            border-width: 1px;
            background-color: white;
        }
        .buttonLogout {
            padding: 5px;
            background-color: darkgrey;
        }
    </style>
</head>
<body>
<b> <font size="1"> <h1> User's data </h1></font> </b>
<table border="1">
    <tr>
        <th th:width="30">ID</th>
        <th th:width="100">Name</th>
        <th th:width="50">Age</th>
        <th th:width="100">Country</th>
        <th th:width="100">Username</th>
        <th th:width="100">Password</th>
    </tr>

    <tr th:each="user : ${user}"> </tr>

        <td th:utext="${user.getId()}">Id</td>
        <td th:utext="${user.name}">Name</a></td>
        <td th:utext="${user.age}">Age</td>
        <td th:utext="${user.country}">Country</td>
        <td th:utext="${user.username}">Username</td>
        <td th:utext="${user.password}">Password</td>

</table>
<br>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>
</body>
</html>